.footer {
  width: 100vw;
  padding: 1rem 0;

  display: flex;

  background: var(--primary-gradient);
  color: var(--text-primary);

  font-size: var(--size-3);
}

.footer__container {
  border-left: 1px solid var(--text-primary);
  width: 50vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  gap: 4rem;
}

.footer__title {
  max-width: 580px;
  text-align: right;

  padding-right: 2rem;
  text-align: right;
  width: 100%;
  margin-left: auto;
}
