@import url(../components/input.css);

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--size-8);
}

.signIn__title {
  align-self: flex-start;
  font-size: var(--size-8);
}

.signIn__helper-text {
  visibility: hidden;
  color: var(--helper-text);
  text-align: center;
}

.error .input {
  border-color: var(--helper-text);
}
.error .helper-text {
  visibility: visible;
}

.signIn__button {
  margin-top: var(--size-8);
}
