.header__time {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.header__time > strong {
  font-size: var(--size-32);
  font-weight: 700;
}

.header__time > p {
  font-size: var(--size-5);
}
