:root {
  --size-1: 0.25rem; /* 4px */
  --size-2: 0.5rem; /* 8px */
  --size-3: 0.75rem; /* 12px */
  --size-4: 1rem; /* 16px */
  --size-5: 1.25rem; /* 20px */
  --size-8: 2rem; /* 32px */
  --size-10: 2.5rem; /* 40px */
  --size-16: 4rem; /* 64px */
  --size-32: 8rem; /* 128px */

  --text-primary: #e1e1e6;
  --text-secondary: #c5c5c5;
  --text-dark: #222222;
  --helper-text: #e9b425;

  --font-family: 'Mark Pro', sans-serif;

  --primary-gradient: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  --secondary-gradient: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);

  --box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.55);
}
